/**
 * @name gruvbox
 * @description gruvbox themed discord.
 * @author katch
 * @version 1.0.0
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* change colors and variables here */
:root {
	/* amount of spacing and padding */
	--spacing: 12px;
	/* radius of round corners */
	--roundness: 16px;

	/* color of links */
	--accent-1: #d79921;
	/* color of unread dividers and some indicators */
	--accent-2: #686868;
	/* color of accented buttons */
	--accent-3: #d79921;
	/* color of accented buttons when hovered */
	--accent-4: #d79921;
	/* color of accented buttons when clicked */
	--accent-5: #d79921;

	/* color of mentions and messages that mention you */
	--mention:#d79921;
	/* color of mentions and messages that mention you when hovered */
	--mention-hover:#dbb15e;

	/* color of bright text on colored buttons */
	--text-1: #ffffff;
	/* color of headings and important text */
	--text-2: #787878;
	/* color of normal text */
	--text-3: #ffffff;
	/* color of icon buttons and channels */
	--text-4: #ffffff;
	/* color of muted channels/chats and timestamps */
	--text-5: #6d6d6d;

	/* color of dark buttons when clicked */
	--bg-1: #000000;
	/* color of dark buttons */
	--bg-2: #3f3f3f;
	/* color of spacing around panels and secondary elements */
	--bg-3: #3c3836;
	/* main background color */
	--bg-4: #2c2c2c;
	/* color of channels and icon buttons when hovered */
	--hover: hsla(228, 5%, 18%, 0.1);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(220, 15%, 16%, 0.2);
	/* color of messages when hovered */
	--message-hover: hsla(0, 25%, 5%, 0.1);
}
